<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partial/headElement')%>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>VCLT</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel="stylesheet" href="/css/styles.css">


        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
        <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
        <script>
            function updateDateTime() {
                const currentDate = new Date();
                const formattedDate = new Intl.DateTimeFormat('en-US', {
                    weekday: 'short',
                    month: 'short',
                    day: 'numeric',
                    year: 'numeric',
                    hour: 'numeric',
                    minute: 'numeric',
                    hour12: false,
                }).format(currentDate);
                document.getElementById('currentDateTime').textContent = formattedDate;
            }
            setInterval(updateDateTime, 1000);
        </script>
        <script>
            $(document).ready(function () {
                $("#myTable").DataTable();
            });
        </script>
        <style>
            #flexSwitchCheckChecked:checked {
                /* background-color: red; */
                box-shadow: none;
                border: 0px solid black;
                outline: none;
            }

            #flexSwitchCheckChecked:focus {
                outline: none;
            }
        </style>
</head>

<body>
    <%- include('../partial/mainpageheader1') %>

        <section>
            <center>
                <h3 class="mt-4">Requests</h3>
            </center>
            <div class="container mt-4 table-responsive">
                <table id="myTable" class="display">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Room</th>
                            <th>Receiver Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <%= callResult.user1_email %>
                            </td>
                            <td>
                                <%= callResult.inviteCode%>
                            </td>
                            <td>
                                <%= callResult.user2_email %>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
</body>

</html>